body {
    font-family: Verdana, sans-serif;
}

.navbardrop {
    background-color: #f4c9e3;
}

.navbar {
    background-color: #f4c9e3;
    width: 12em;
    height: 10em;
    border: thick dotted #f6e7f0;
    float: right;
    display: flex;
    align-items: center;
    margin: 1em 0.4em;
}

.navbar > ul {
    list-style: square;
    padding-left: 1.5em;
}

.navbar > ul > li > ul {
    padding-left: 1em;
}

.footer {
    background-color: #f4c9e3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2em;
    align-items: center;
}

.footer > p {
    padding: 0.5em;
}

#galleria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.kuva {
    padding: 1em;
    height: 13em;
    width: auto;
}